<div class="container">
  <form>
    <div class="form-group">
      <label for="purchase">select the Offering</label>
      <select class="form-control" ng-model="main.id" ng-change="main.setId()">
        <option ng-repeat="option in main.purchase" value="{{option.id}}" >{{option.title}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">customer name</label>
      <input type="text" ng-model="main.name" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="quantity">quantity</label>
      <input type="number" ng-model="main.quantity" class="form-control" id="quantity" >
    </div>
    <div class="form-group">
      <label for="total"> total amount of the purchase</label>
      <input value="{{(main.price*main.quantity)?(main.price*main.quantity):0}}" type="text" class="form-control" id="total"  disabled>
    </div>
    <button type="button" ng-click="main.submit()" class="btn btn-default">submit</button>
    <div class="alert alert-danger alert-tab" ng-if="main.showAlert.show" role="alert">{{main.showAlert.words}}</div>
  </form>
</div>
